/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Archivos específicos del proyecto
/public/qr
/public/storage
/storage/app/public/inventory_photos
/storage/app/public/profile-photos
/storage/app/public/service_photos
/tmp
*.log
*.sql
*.zip
*.bat
